HOST=127.0.0.1
PORT=8000

# Database credentials
POSTGRES_USER=translator
POSTGRES_PASSWORD=
POSTGRES_DB=db
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Machine Translation
IS_DYNAMIC_LOADING=false

# LLM Configuration
LLM_PROVIDER=ollama
GEMINI_API_KEY=
OLLAMA_BASE_URL=http://127.0.0.1:11434
LLM_MODEL_NAME=rinex20/translategemma3:12b
