fastapi
uvicorn
python-dotenv
pydantic-settings
sqlalchemy
asyncpg
transformers
torch
sentencepiece
langdetect
emoji
nltk
textstat
greenlet
langchain
langchain-google-genai
langchain-community
sacremoses